# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi
# ... just reach by the recipe name
[buildout]
parts =
    instance

extends =
    http://dist.plone.org/release/4.1.3/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.3
    http://dist.plone.org/thirdparty
    http://dist.infrae.com/thirdparty

extensions =
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel
    mr.developer

sources = sources
auto-checkout = *

versions = versions

# Reference any folders where you have Python egg source code under development here
# e.g.: develop = src/my.package
# If you are using the mr.developer extension and have the source code in a
# repository mr.developer will handle this automatically for you
develop =

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
effective-user = plone
environment-vars = zope_i18n_compile_mo_files true
eggs =
    Plone
    PILwoTk
    Products.Person
    Products.Maps
    deaf.contents
    deaf.theme
    fourdigits.portlet.twitter

# Some pre-Plone 3.3 packages may need you to register the package name here in
# order their configure.zcml to be run (http://plone.org/products/plone/roadmap/247)
# - this is never required for packages in the Products namespace (Products.*)
zcml =
    Products.Person
    Products.Maps
    deaf.contents
    deaf.theme
    fourdigits.portlet.twitter

# zopepy commands allows you to execute Python scripts using a PYTHONPATH
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

# create ZopeSkel command
[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    PasteScript
    ${instance:eggs}

# symlinks all Python source code to parts/omelette folder when buildout is run
# windows users will need to install additional software for this part to build
# correctly.  See http://pypi.python.org/pypi/collective.recipe.omelette for
# relevant details.
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on format for this part
[sources]
deaf.contents = svn https://svn.v2.nl/plone/deaf.contents/trunk/
deaf.theme = svn https://svn.v2.nl/plone/deaf.theme/trunk/
Products.Person = svn https://svn.v2.nl/plone/Products.Person/trunk/
Products.Maps = svn https://svn.plone.org/svn/collective/Products.Maps/trunk/
zeam.utils.batch = git git://github.com/thefunny42/Zeam-Utils-Batch.git

# Version pindowns for new style products go here - this section extends one provided in http://dist.plone.org/release/
[versions]
collective.contentleadimage = 1.3.4
five.grok = 1.3.0
grokcore.annotation = 1.2
grokcore.component = 2.4
grokcore.formlib = 1.8
grokcore.security = 1.5
grokcore.site = 1.5
grokcore.view = 2.6.1
grokcore.viewlet = 1.9
martian = 0.14
megrok.pagetemplate = 0.7
p4a.fileimage = 1.0.2
zeam.utils.batch = 1.0
fourdigits.portlet.twitter = 0.9.1
PILwoTk = 1.1.6.4
archetypes.clippingimage = 2.1
httplib2 = 0.7.4
oauth2 = 1.5.211


